* {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

@font-face {
    font-family: Metropolis;
    src: url(assets/fonts/Metropolis-regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: "Metropolis Bold";
    src: url(assets/fonts/Metropolis-bold.woff2);
    font-weight: bold;
    font-display: swap;
}

:root {
    --primary-red-color: #db0d15;
    --header-text-color: #fff;
    --white-text-color: #fff;
    --primary-font: "Metropolis Bold";
    --primary-text-font-size: 16px;
    --banner-text-font-size: 30px;

}

html {
    font-family: var(--primary-font);
}

header {
    background-color: black;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.logo-and-navbar {
    display: flex;
    justify-content: space-between;
    padding: 5vw 1vw;
}

.logo-and-navbar img {
    width: 60vw;
    height: 65px;
    padding: 0 1vw;
    margin-left: -10px;
}

.hamburger-btn {
    height: 47px;
}

button#hamburgerBtn {
    background: none;
    margin-top: 5vw;
}

.nav-pages-header {
    display: none;
}

.nav-pages.d-none {
    display: none;
}

.nav-pages {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-red-color);
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 2vw;
}

.nav-pages a {
    color: var(--header-text-color);

}

.socmed-nav a svg {
    height: 1.8vh;
    width: 3.25vw;
}

.dropdown-content {
    height: 0;
    transition: height 5s ease-in-out;
    position: absolute;
}

.dropdown-content ul {
    display: none;
}

.nav-pages .dropdown:hover {
    .dropdown-content ul {
        display: flex;
        flex-direction: column;
        gap: 1vw;
        background-color: var(--primary-red-color);
    }
}

.socmed-nav {
    display: flex;
    justify-content: center;
    padding-top: 7.5vw;
    gap: 2vw;
}

.socmed-nav a {
    display: flex;
    border: 1px solid var(--primary-red-color);
    border-radius: 20px;
    height: 25px;
    width: 25px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.side-job-offer {
    position: fixed;
    top: 51.5vh;
    width: 50vw;
    right: -29.8vw;
    background-color: var(--primary-red-color);
    padding: 1.5vh 0 1.5vh 7vw;
    border-radius: 55px 0 0 55px;
}
.side-job-offer:hover {
    right: 0;
    transition: 1s ease-in-out;
}

.side-job-offer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5vw;
    color: var(--white-text-color);
    font-family: Metropolis;
}

.side-job-offer img {
    width: 10vw;
    height: 7vh;

}

.job-offer-link{
    display: flex;
    flex-direction: column;
}

.banner {
    color: var(--white-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--banner-text-font-size);
    gap: 2vh;
    padding: 7vh 2vw;
}

.banner img {
    width: 80vw;
    height: 28.5vh;
}

.banner-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 1000;
    letter-spacing: 1vw;
    text-transform: uppercase;
}

.banner video {
    top: 20vh;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.banner .down-arrow img {
    width: 12.5vw;
    height: 6.15vh;
    margin-top: 5vh;
    /* align-self: flex-end; */
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: linear;
}







@keyframes bounce{
    0%{
        transform:translateY(0)
    }
    50%{
        transform:translateY(-20px)
    }
    to {
        transform:translateY(0)
    }
}