* {
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

@font-face {
    font-family: Metropolis;
    src: url(assets/fonts/Metropolis-regular.woff2);
    font-display: swap;
}

@font-face {
    font-family: "Metropolis Bold";
    src: url(assets/fonts/Metropolis-bold.woff2);
    font-weight: bold;
    font-display: swap;
}

:root {
    --primary-red-color: #db0d15;
    --header-text-color: #fff;
    --white-text-color: #fff;
    --primary-text-font-size: 16px;
    --banner-text-font-size: 30px;
    --side-text-font-size: 10px;
    --introduction-font-size: 55px;
    --button-text-font-size: 12px;
    --jobsletter-title-font-size: 32px;
    --jobsletter-button-font-size: 10px;
}

body {
    font-family: Metropolis, sans-serif;
    overflow-x: hidden;
}


/* Dynamics Styling: */
.header-bg-color {
    background-color: black;
}

.change-img {
    content: url(assets/CDPRlogodark.svg);
    width: 60vw;
    height: 65px;
    padding: 0 1vw;
    margin-left: -10px;
}

main .banner {
    color: var(--white-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--banner-text-font-size);
    gap: 2vh;
    padding: 7vh 2vw;
}

main .banner img {
    width: 80vw;
    height: 28.5vh;
}

main .banner .banner-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 1000;
    letter-spacing: 1vw;
    text-transform: uppercase;
    font-family: "Metropolis Bold";
    padding: 0;
}

main .banner .banner-intro h1 {
    text-align: center;
    padding: 0 10vw;
    font-size: var(--banner-text-font-size);
}

main .banner video {
    top: 20vh;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

main .banner .down-arrow img {
    width: 12.5vw;
    height: 6.15vh;
    margin-top: 5vh;
    /* align-self: flex-end; */
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: linear;
    cursor: pointer;
}

main .introduction-container {
    padding: 10vh 2vw 5vh;
    margin-top: 5vh;
}

main .introduction-container .left-introduction-container .left-introduction {
    background-image: url(https://www.cdprojektred.com/build/images/img/home-box-1-b8ecc584.png);
    opacity: 1.5;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(158, 156, 156);
    background-blend-mode: multiply;
    padding: 15vw 0;

}

main .introduction-container .right-introduction-container .right-introduction {
    background-image: url(https://www.cdprojektred.com/build/images/img/home-box-2-fedcea81.png);
    opacity: 1.5;
    width: 100%;
    height: 35vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(158, 156, 156);
    background-blend-mode: multiply;
    padding: 15vw 0;
}

main .introduction-container .introduction-banner {
    text-align: center;
    text-transform: uppercase;
    font-family: "Metropolis Bold";
}

main .introduction-container .introduction-banner h2 {
    font-size: var(--introduction-font-size);
    font-weight: 1000;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
main .introduction-container .introduction-banner .introduction-links-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5vw;
    height: 10vw;
    padding: 4vw 5vw;
}

main .introduction-container .introduction-banner .introduction-links-container a {
    color: var(--white-text-color);
    font-size: var(--button-text-font-size);
    border: 2px solid var(--primary-red-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 8vh;
    padding: 2vw 2vw;
}   

main .introduction-container .introduction-banner .introduction-links-container a:hover {
    background-color: var(--primary-red-color);
}   

main .introduction-container .introduction-text {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 5vh 7.5vw;
    text-align: center;
    
}

main .introduction-container .introduction-text h3 {
    font-family: "Metropolis Bold";
    font-weight: 600;
    font-size: calc(var(--introduction-font-size) / 2);
}

main .introduction-container .introduction-text span {
    color: var(--primary-red-color);
}

main .introduction-container .introduction-text p {
    font-size: var(--primary-text-font-size);
    line-height: 3.5vh;
    
}

main .jobsletter-container {
    position: relative;
    padding: 7.5vh 0 10vh;
    margin: 5vw;
    background-color: black;
    color: var(--white-text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

main .jobsletter-container h2 {
    font-size: var(--jobsletter-title-font-size);
    text-transform: uppercase;
}

main .jobsletter-container .jobsletter-caption {
    color: rgba(255, 255, 255, 0.3);
    font-size: var(--primary-text-font-size);
}

main .jobsletter-container .jobsletter-caption::after {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    margin: 40px auto 0;
    width: 45px;
}

main .jobsletter-container .jobsletter-form {
    padding-top: 5vh;
    z-index: 2;
}


main .jobsletter-container .jobsletter-form input {
    height: 8vh;
    width: 100%;
    border-radius: 30px;
    padding: 1vh 5vw;
}

main .jobsletter-container .jobsletter-form button {
    background-color: var(--primary-red-color);
    position: absolute;
    right: 2vw;
    margin-top: 0.75vh;
    width: 25vw;
    height: 6.85vh;
    border-radius: 30px;
    text-transform: uppercase;
    color: var(--white-text-color);
    font-size: var(--jobsletter-button-font-size);
    font-family: "Metropolis Bold";
    z-index: 3;
}

main .outer-jobsletter-container {
    overflow-x: hidden;
}

main .jobsletter-container img {
    position: absolute;
    right: -17.5vw;
    height: 25.5vh;
    width: 40vw;
    z-index: 1;
    opacity: 0.95;
}

@keyframes bounce{
    0%{
        transform:translateY(0)
    }
    50%{
        transform:translateY(-20px)
    }
    to {
        transform:translateY(0)
    }
}