@media screen and (min-width: 768px) {
    :root {
        --side-text-font-size: 12px;
        --jobsletter-button-font-size: 12px;
    }

    .change-img {
        width: 22vw;
    }

    main .banner img {
        width: 34vw;
        height: 29vh;
    }

    main .introduction-container {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        width: 100%;
        padding: 25vh 3vw 2vh;
    }

    main .introduction-container .introduction-banner {
        margin: 0 3vw;
    }

    main .introduction-container .left-introduction-container,
    main .introduction-container .right-introduction-container {
        width: 50%;

    }

    main .introduction-container .left-introduction-container .left-introduction, 
    main .introduction-container .right-introduction-container .right-introduction {
        width: 85%;
        height: 35vh;
        padding: 5vh 1vw;
        background-size: contain;
    }

    main .introduction-container .introduction-text {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding: 5vh 5vw;
        width: 100%;
        text-align: center;  
    }

    main .introduction-container .introduction-text h3 {
        font-size: calc(var(--introduction-font-size) / 2.5);
    }

    main .introduction-container .introduction-text p {
        padding-top: 3vh;
    }

    main .jobsletter-container {
        padding: 7.5vh 0 8vh;
        margin: 3.5vw;
    }

    main .jobsletter-container .jobsletter-form input {
        width: 88%;
        height: 10vh;
        padding: 1vh 3vw;
    }
    
    main .jobsletter-container .jobsletter-form button {
        right: 7vw;
        margin-top: 1vh;
        width: 13vw;
        height: 8vh;
    }

    main .jobsletter-container img {
        right: -19.5vw;
        height: 28.5vh;
        width: 50vw;
    }

    footer .footer-content {
        display: flex;
        flex-direction: row;
        gap: 2vw;
    }

    footer .footer-content .studio-banners {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 1vh;
        padding: 3vh 0;
        margin: 0;
    }

    footer .footer-content .studio-container .studio-banners #Studio1Warsaw,
    footer .footer-content .studio-container .studio-banners #Studio2Cracow,
    footer .footer-content .studio-container .studio-banners #Studio3Wroclaw,
    footer .footer-content .studio-container .studio-banners #Studio4Vancouver {
    width: 49%;
    height: 25vh;
    padding: 2vw 0;
}

}

@media screen and (min-width: 1024px) {

    :root {
        --header-text-color: #fff;
        --jobsletter-title-font-size: 42px;
        --jobsletter-button-font-size: 16px;
    }

    .change-img {
        width: 25.5vw;
        height: 12vh;
        padding-left: 5vw;
    }

    main .banner video {
        top: 18vh;
    }

    main .introduction-container .introduction-banner {
        margin: 10vh auto 0;
    }

    main .introduction-container .left-introduction-container .left-introduction, 
    main .introduction-container .right-introduction-container .right-introduction {
        width: 43vw;
        height: 37.5vh;
        padding: 10vh 0vw;
    }

    main .introduction-container .introduction-text {
        gap: 2vw;
        padding: 5vh 1vw;
        text-align: center;
    }
    
    main .introduction-container .introduction-text h3 {
        width: 40%;
        font-size: calc(var(--primary-text-font-size)*1.25);
        text-align: left;
    }
    
    main .introduction-container .introduction-text p {
        line-height: 2.5vh;
        width: 50%;
        text-align: left;
        padding-top: 0;
        font-family: Metropolis;
        font-weight: 300;
        font-size: calc(var(--primary-text-font-size)/1.25);
        letter-spacing: 1.5px;
    }

    main .jobsletter-container {
        padding: 7.5vh 0 8vh;
        margin: 5vw;
    }

    main .jobsletter-container .jobsletter-form input {
        width: 78%;
        height: 9vh;
    }
    
    main .jobsletter-container .jobsletter-form button {
        right: 11vw;
        width: 15vw;
        height: 7vh;
    }

    main .jobsletter-container img {
        right: -24.5vw;
        height: 30.5vh;
        width: 50vw;
    }
    
    footer .contact-container .contact-button {
        margin-top: 3vh;
        width: 90%;
        height: 7.5vh;
        align-self: center;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: calc(var(--jobsletter-button-font-size)/1.5);
    }

    footer .footer-content {
        font-size: var(--jobsletter-title-font-size);
        text-align: left;
        padding: 10vh 2vw 5vh;
        margin-top: 2vh;
    }

    footer .footer-content .studio-container h3::after, 
    footer .footer-content .contact-container h3::after {
    content: "";
    width: 45px;
    background-color: black;
    display: block;
    height: 4px;
    margin: 5px;
}

}

@media screen and (min-width: 1440px) {

    :root {
        --primary-text-font-size: 21px;

    }

    .change-img {
        width: 25.5vw;
        height: 12vh;
    }

}