/* @media screen and (min-width: 375px) { 
    main .introduction-container {
        gap: 1vw;
        width: 100%;
        padding-top: 25vh;
    }

} */

@media screen and (min-width: 768px) {
    :root {
        --side-text-font-size: 12px;
        --jobsletter-button-font-size: 12px;
    }

    .change-img {
        width: 22vw;
    }

    main .banner img {
        width: 34vw;
        height: 29vh;
    }

    main .introduction-container {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        width: 100%;
        padding: 10vh 2vw 2vh;
        margin-top: 3vh;
    }

    /* main .introduction-container .introduction-banner {
        margin: 0 3vw;
    } */

    main .introduction-container .left-introduction-container,
    main .introduction-container .right-introduction-container {
        width: 49%;

    }

    main .introduction-container .left-introduction-container .left-introduction, 
    main .introduction-container .right-introduction-container .right-introduction {
        width: 100%;
        height: 35vh;
        padding: 5vh 1vw;
        background-size: cover;
    }

    main .introduction-container .introduction-text {
        display: flex;
        flex-direction: row;
        gap: 0vw;
        padding: 5vh 5vw;
        width: 100%;
        text-align: center;  
    }

    main .introduction-container .introduction-text h3 {
        font-size: calc(var(--introduction-font-size) / 2.5);
    }

    main .introduction-container .introduction-text p {
        padding-top: 3vh;
    }

    main .jobsletter-container {
        padding: 7.5vh 0vw 8vh;
        margin: 4vw;
        width: 92.5%;
    }

    main .jobsletter-container .jobsletter-form input {
        width: 88%;
        height: 7.5vh;
        padding: 2vh 3vw;
        border-radius: 50px;
    }
    
    main .jobsletter-container .jobsletter-form button {
        right: 7vw;
        margin-top: 0.8vh;
        width: 13vw;
        height: 6vh;
    }

    main .jobsletter-container img {
        right: -19.5vw;
        height: 28.5vh;
        width: 50vw;
    }

   
}

@media screen and (min-width: 1024px) {

    :root {
        --header-text-color: #fff;
        --jobsletter-title-font-size: 42px;
        --jobsletter-button-font-size: 16px;
    }

    .change-img {
        display: flex;
        width: 30.5vw;
        height: 10vh;
        left: -2vw;
        position: relative;
        margin-right: 10vw;
    }

    main .banner video {
        top: 10vh;
    }

    main .introduction-container .introduction-banner {
        margin: 10vh auto 0;
    }

    main .introduction-container .left-introduction-container .left-introduction, 
    main .introduction-container .right-introduction-container .right-introduction {
        width: 43vw;
        height: 37.5vh;
        padding: 10vh 0vw;
    }

    main .introduction-container .introduction-text {
        gap: 2vw;
        padding: 5vh 1vw;
        text-align: center;
    }
    
    main .introduction-container .introduction-text h3 {
        width: 40%;
        font-size: calc(var(--primary-text-font-size)*1.25);
        text-align: left;
    }
    
    main .introduction-container .introduction-text p {
        line-height: 2.5vh;
        width: 50%;
        text-align: left;
        padding-top: 0;
        font-family: Metropolis;
        font-weight: 300;
        font-size: calc(var(--primary-text-font-size)/1.25);
        letter-spacing: 1.5px;
    }

    main .jobsletter-container {
        padding: 7.5vh 0 8vh;
        margin: 5vw;
    }

    main .jobsletter-container .jobsletter-form input {
        width: 78%;
        height: 9vh;
    }
    
    main .jobsletter-container .jobsletter-form button {
        right: 11vw;
        width: 15vw;
        height: 7vh;
    }

    main .jobsletter-container img {
        right: -24.5vw;
        height: 30.5vh;
        width: 50vw;
    }
    

}

@media screen and (min-width: 1440px) {

    :root {
        --primary-text-font-size: 21px;

    }

    .change-img {
        width: 21.5vw;
        height: 20vh;
        top: -2vh;
        left: 2vw;
        margin-right: 10vw;
    }


}