@media screen and (min-width: 768px) {
    :root {
        --side-text-font-size: 12px;
        --jobsletter-button-font-size: 12px;
    }

    main .banner img {
        width: 34vw;
        height: 29vh;
    }

    main .introduction-container {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        width: 100%;
        padding: 25vh 3vw 2vh;
    }

    main .introduction-container .introduction-banner {
        margin: 0 3vw;
    }

    main .introduction-container .left-introduction-container,
    main .introduction-container .right-introduction-container {
        width: 50%;

    }

    main .introduction-container .left-introduction-container .left-introduction, 
    main .introduction-container .right-introduction-container .right-introduction {
        width: 85%;
        height: 35vh;
        padding: 5vh 1vw;
        background-size: contain;
    }

    main .introduction-container .introduction-text {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding: 5vh 5vw;
        width: 100%;
        text-align: center;  
    }

    main .introduction-container .introduction-text h3 {
        font-size: calc(var(--introduction-font-size) / 2.5);
    }

    main .introduction-container .introduction-text p {
        padding-top: 3vh;
    }

    main .jobsletter-container {
        padding: 7.5vh 0 8vh;
        margin: 3.5vw;
    }

    main .jobsletter-container .jobsletter-form input {
        width: 88%;
        height: 10vh;
        padding: 1vh 3vw;
    }
    
    main .jobsletter-container .jobsletter-form button {
        right: 7vw;
        margin-top: 1vh;
        width: 13vw;
        height: 8vh;
    }

    main .jobsletter-container img {
        right: -19.5vw;
        height: 28.5vh;
        width: 50vw;
    }
}

@media screen and (min-width: 1024px) {

    :root {
        --header-text-color: #fff;
        --jobsletter-title-font-size: 42px;
        --jobsletter-button-font-size: 16px;
    }

    main .introduction-container .introduction-banner {
        margin: 10vh auto;
    }

    main .introduction-container .left-introduction-container .left-introduction, 
    main .introduction-container .right-introduction-container .right-introduction {
        width: 43vw;
        height: 50vh;
        padding: 10vh 0vw;
    }

    main .introduction-container .introduction-text {
        gap: 3vw;
        padding: 5vh 1vw;
        text-align: center;
    }
    
    main .introduction-container .introduction-text h3 {
        margin-right: 5vw;
    }
    
    main .introduction-container .introduction-text span {
        color: var(--primary-red-color);
    }
    
    main .introduction-container .introduction-text p {
        font-size: var(--primary-text-font-size);
        line-height: 3.5vh;
        
    }

    main .jobsletter-container {
        padding: 7.5vh 0 8vh;
        margin: 5vw;
    }

    main .jobsletter-container .jobsletter-form input {
        width: 78%;
        height: 9vh;
    }
    
    main .jobsletter-container .jobsletter-form button {
        right: 11vw;
        width: 15vw;
        height: 7vh;
    }

    main .jobsletter-container img {
        right: -24.5vw;
        height: 30.5vh;
        width: 50vw;
    }
    

}

@media screen and (min-width: 1440px) {

    :root {
        --primary-text-font-size: 21px;

    }

}